@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

header {
	color: #f6ae2c;
	font-variant: small-caps;
	font-size: 1.3em;
	padding: 0 30px;
	text-decoration: none;
	text-align: center;
}

body {
	background: url(bola.jpg);
}

a:link, a:visited {
	text-decoration: none;
	border: none;
}

a:hover, a:active {
	text-decoration: underline;
	border: none;
}

nav {
	text-align: center;
	width: 1024px;
	/*width: 900px;*/
	height: 50px;
	padding-top:10px;
}

nav table {
	padding-top: 15px;
}

nav a {
	color: #f6ae2c;
	font-variant: small-caps;
	font-size: 1.3em;
	padding: 0 30px;
	text-decoration: none;

}

footer a {
	color: #f6ae2c;
	font-variant: small-caps;
	font-size: 1.3em;
}

footer {
	width: 880px;
	height: 10px;
	padding: 170px 0px 10px 0px;
	text-align: center;
	margin-bottom: 5px;
	
	margin-top: 0%;
	color: #ffffff;
	font-size: 0.7em;

}

.main {
   margin: 3% 60% 6% 6%;
   
   padding: 16px;
   -webkit-box-shadow: 0px 0px 10px 5px #e7e5c8;
     -moz-box-shadow: 0px 0px 10px 5px #e7e5c8;
          box-shadow: 0px 0px 10px 5px #e7e5c8;
   background-color: #e7e5c8; 
}

.main p {
	text-align: center;
	font-family: Georgia;
	color: #d53533;
	font-size: 2em;
}

.main h2 {
	text-align: center;
	font-family: Georgia;
	color: #d53533;
}

.main label {
	font-family: Georgia;
	color: #d53533;
}

.main table th{
	color: #d53533;
	font-family: Georgia;
}

.main table td{
	font-family: Georgia;
	font-size: 1.2em;
	text-align: center;
	
}

button{
	margin-left: 2%;
	color: #d53533;
	font-family: Georgia;
	margin-top: 2%;
	background-color: #e7e5c8;
	-webkit-border-radius: 6px;
          	border-radius: 6px;     	
}

.mainClube {
   margin: 3% 60% 6% 6%;
   width: 550px;
   height: 163px;
   padding: 16px;
   -webkit-box-shadow: 0px 0px 10px 5px #e7e5c8;
     -moz-box-shadow: 0px 0px 10px 5px #e7e5c8;
          box-shadow: 0px 0px 10px 5px #e7e5c8;
   background-color: #e7e5c8; 
}

.mainClube p {
	text-align: center;
	font-family: Georgia;
	color: #d53533;
	font-size: 2em;
}

.mainClube label {
	font-family: Georgia;
	color: #d53533;
}

#login {
	text-align: center;
}